.page-index-header {
  margin: 0 40px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;

  .gatsby-image-wrapper {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-right: 2rem;
  }

  h1 {
    font-size: 24px;
    font-weight: 400;
    color: rgb(150, 150, 159);

    strong {
      color: rgb(40, 40, 60);
      font-weight: 500;
    }
  }
}
