.layout-navigation {
  padding: 40px;
  display: flex;

  a {
    color: rgb(150, 150, 159);
    text-decoration: none;
    font-size: 14px;
    margin-right: 20px;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: rgb(40, 40, 60);
    }
  }
}
